/* 
##############################
###          BASE          ###
##############################
*/

.icons-container {
  display: flex;
  justify-content: space-around;
}

.icon-circle {
  border: 3px solid black;
  border-radius: 50%;
  height: 30px;
  line-height: 30px;
  text-align: center;
  width: 30px;
}

/* -- NAVIGATOR -- */

#nav {
  background-color: white;
  transform: translateX(-100%);
  transition-duration: 0.4s;
}

h1.logo#menu-title {
  color: black;
  font-size: 40px;
  font-weight: bold;
}

#nav-button {
  background-color: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: 3vw;
  left: 100%;
  line-height: 5vw;
  position: absolute;
  text-align: center;
}

#nav-button, #nav-check {
  height: 5vw;
  width: 5vw;
}

#nav-check {
  margin: 0;
  opacity: 0;
  position: relative;
  top: -100%;
}

.menu-icons-container {
  margin-top: 10%;
  width: 80%;
}

#menu {
  margin: 35% 0;
  height: 80%;
  justify-content: space-between;
}

#menu-content .menu-read {
  position: relative;
}

#menu-content .menu-read:hover .submenu {
  visibility: visible;
}

#menu-content .menu-read .submenu {
  position: absolute;
  left: 100%;
  top: -200%;
  visibility: hidden;
}

#menu-content li {
  background-color: white;
}

#menu-content .submenu li:first-child {
  border-top-right-radius: 10px;
}

#menu-content .submenu li:last-child {
  border-bottom-right-radius: 10px;
}