@font-face{ 
	font-family: 'Mytwentyone';
	src: url('../fonts/twentyone-webfont.eot');
	src: url('../fonts/twentyone-webfont.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/twentyone-webfont.woff') format('woff'),
	     url('../fonts/twentyone-webfont.woff2') format('woff2'),
	     url('../fonts/twentyone-webfont.ttf') format('truetype');
}

/* 
##############################
###          BASE          ###
##############################
*/

body {
  background-color: #94bcc6;
  font-family: "Dejavu Sans";
  height: 1660px;
  margin: 0;
  padding: 0
}

a {
  color: unset;
  text-decoration: none;
}

/* 
##############################
###       TITLE/LOGO       ###
##############################
*/

h1.logo {
  font-family: Mytwentyone;
  font-style: italic;
  font-weight: 200;
  color: #d43232;
  margin: 0;
  text-align: center;
}

/* 
##############################
###          MENU          ###
##############################
*/

#nav {
  height: 100vh;
  position: fixed;
  user-select: none;
  width: 15%;
}

#menu {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
  width: 100%;
}

#menu-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 1.25em;
  justify-content: space-between;
  line-height: 100px;
}

#menu-content ul {
  padding: 0;
  text-align: center;
  width: 100%;
}

#menu-content li {
  list-style-type: none;
}

#menu-content a {
  display: block;
  height: 100%;
}

#menu-content li:hover {
  background-color: #e6e6e6;
  cursor: pointer;
}

#menu .menu-separator {
  margin: 0 auto;
  width: 80%;
}

#menu .menu-separator-2 {
  transform: rotateX(180deg);
}
