@keyframes arrow-left-right {
  0%{
    transform: translateX(0);
  }
  50%{
    transform: translateX(-20%);
  }
  100%{
    transform: translateX(0);
  }
}
/*
##############################
###          BASE          ###
##############################
*/

a {
  color: white;
}

/* 
##############################
###          MENU          ###
##############################
*/

#menu-content li:hover a {
  color: black;
}

/* 
##############################
###         HEADER         ###
##############################
*/

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1.logo{
  text-align: left;
}

header a:hover {
  color: black;
}

/* 
##############################
###         CONTENT        ###
##############################
*/

section#content-container {
  background-color: rgb(255,255,255);
  grid-column: 4/21;
  grid-row-end: 11;
}

section#content-container h2 {
  text-align: center;
}

section#content-container #content {
  margin: auto;
  width: 95%;
}

/* 
##############################
###       PAGE STYLE       ###
##############################
*/

/* ---- ACCUEIL ---- */

section#content-container.accueil #content {
  display: flex;
  flex-direction: column;
  height: 80%;
  justify-content: center;
}

section#content-container.accueil #content h2 {
  font-size: 2rem;
  text-align: center;
}

section#content-container.accueil #content > div {
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
}

section#content-container.accueil #content > div i {
  animation: arrow-left-right 1s infinite linear;
  font-size: 2.4rem;
}

/* ---- ADMINISTRATION ---- */

section#content-container.administration #content a {
  color: unset;
  margin: 0;
  text-decoration: underline;
}

section#content-container.administration #content table {
  border-collapse: collapse;
  text-align: left;
}

section#content-container.administration #content table td:last-child {
  text-align: center;
}

section#content-container.administration #content table td:last-child a {
  color: unset;
  margin: 0 1.5%;
  width: 30%;
}

section#content-container.administration #content table td:last-child i {
  font-size: 1.2rem;
}

section#content-container.administration #content table td:last-child i:hover {
  transform: scale(1.5);
}

section#content-container.administration #content table td:last-child i.edit:hover {
  color: blue;
}

section#content-container.administration #content table td:last-child i.trash:hover {
  color: red;
}

section#content-container.administration #content table td:last-child i.view:hover {
  color: orange;
}

section#content-container.administration #content table th {
  min-width: 5vw;
}

section#content-container.administration #content table th, td {
  border-bottom: 1px solid rgba(255,255,255,0.4);
  padding: 5px;
}

section#content-container.administration #content table thead {
  background-color: #94bcc6;
}

section#content-container.administration #content table th:first-child {
  border-top-left-radius: 10px;
}

section#content-container.administration #content table th:last-child {
  border-top-right-radius: 10px;
}

section#content-container.administration #content table tbody tr {
  background-color: rgba(148, 188, 198, 0.4);
}

section#content-container.administration #content table tbody tr:hover {
  background-color: rgb(148, 188, 198);
}

section#content-container.administration #content table tbody tr:last-child {
  background-color: unset;
}

section#content-container.administration #content table tbody tr:last-child td {
  text-align: right;
}

/* ---- EDITION ---- */

.tox {
  white-space: nowrap!important;
}

section#content-container.edition #content form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

section#content-container.edition #content form .tox.tox-tinymce {
  margin: 2vw auto;
  width: 100%;
}

section#content-container.edition #content form input#submit {
  margin: 0 auto;
  width: 10vw;
}