@keyframes arrow-left-right {
  0%{
    transform: translateX(0);
  }
  50%{
    transform: translateX(-20%);
  }
  100%{
    transform: translateX(0);
  }
}
/*
##############################
###          BASE          ###
##############################
*/

a {
  color: white;
}

/* 
##############################
###          MENU          ###
##############################
*/

#menu-content li:hover a {
  color: black;
}

/* 
##############################
###         HEADER         ###
##############################
*/

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1.logo{
  text-align: left;
}

header a:hover {
  color: black;
}

/* 
##############################
###         CONTENT        ###
##############################
*/

section#content-container {
  grid-column: 4/21;
  grid-row-end: 11;
}

/* 
##############################
###       PAGE STYLE       ###
##############################
*/

/* ---- ACCUEIL ---- */

section#content-container.accueil #content {
  display: flex;
  flex-direction: column;
  height: 80%;
  justify-content: center;
}

section#content-container.accueil #content h2 {
  font-size: 2rem;
  text-align: center;
}

section#content-container.accueil #content > div {
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
}

section#content-container.accueil #content > div i {
  animation: arrow-left-right 1s infinite linear;
  font-size: 2.4rem;
}
